<section>
  <div class="container">
    <div class="row">
      <h1 class="display-3 fw-bold">Styles</h1>
      <div class="heading-line"></div>
    </div>
  </div>

  <div class="container">
    <div class="row pt-2 pb-2 mt-5 mb-3">
      <div class="col-md border-right">
        <div class="bg-white p-3">
          <h2 class="fw-bold text-capitalize text-center">
            We offer a wide variety of styles!
          </h2>
        </div>
      </div>
      <div class="col-md">
        <div class="bg-white p-3 text-start">
          <p class="fw-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Jazz
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Tap
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Hip Hop
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Lyrical
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lgcol-md col-sm col services mt-4">
        <div class="services__content">
          Ballet
        </div>
      </div>
      <div class="col-lg col-md col-sm colservices mt-4">
        <div class="services__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </div>
      </div>
    </div>

    <div class="row flex-row-reverse">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content">
          Competition
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 services mt-4">
        <div class="services__content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</div>
      </div>
    </div>
  </div>
</section>
