@import "src/styles.scss";

.menu {
  @include gradient;
  padding-left: 1rem;
  padding-right: 1rem;
  li {
    padding: 0 0.7rem;

    a {
      color:$white !important;
      font-weight: 600;
    }
  }
}

.phone-button{
@include media-breakpoint-up(sm){
  display: none
};}
