<section class="intro">
  <div class="container">
    <div class="row align-items-center text-white">
      <div class="col-md intros">
        <h1 class="display-2">
          <span class="display-2--intro">Welcome to the Dance Center!</span>
          <span class="display-2--description lh-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span>
        </h1>
        <button type="button" class="rounded-pill btn-rounded">Get in touch!<span>
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </span></button>
      </div>
      <div class="col-md intros text-end">
        <div class="video-box">
          <img src="../../assets/images/Ballet-Dancer-Silhouette.svg" alt="video illustration" class="img-fluid">
          <a href="#" class="glightbox">
            <span>
              <fa-icon [icon]="faPlayCircle"></fa-icon>
            </span>
            <span class="border-animation--border-1">
            </span>
            <span class="border-animation--border-2">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img src="../../assets/images/wave-reverse.svg" alt="bottom wave">
</section>

<div class="glightbox"></div>
